    <div id="page_content">
        <div id="page_content_inner">
            <div class="md-card" data-uk-grid-margin>
			     <div class="md-card-content">
			     	 <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                        <div class="uk-width-large-1">
                            <div class="uk-grid uk-grid-medium" data-uk-grid-margin>                               
                                <div class="uk-width-3-4">
                                    <ul id="tabs_6" class="uk-switcher uk-margin-small-top">
                                         <li class="pREPORTTYPE"><kendo-grid options="pREPORTTYPE"></kendo-grid></li>
                                         <li class="pFILETYPE"><kendo-grid options="pFILETYPE"></kendo-grid></li>
                                         <li class="pDIVISION"><kendo-grid options="pDIVISION"></kendo-grid></li>
				                         <li class="pFORMS"><kendo-grid options="pFORMS"></kendo-grid></li>
				                         <li class="pPRODUCTS"><kendo-grid options="pPRODUCTS"></kendo-grid></li>
				                         <li class="pMEASUREMENTS"><kendo-grid options="pMEASUREMENTS"></kendo-grid></li>
				                         <li class="pAPPSTATUS"><kendo-grid options="pAPPSTATUS"></kendo-grid></li>
				                         <li class="pAPPSTEPS"><kendo-grid options="pAPPSTEPS"></kendo-grid></li>
				                         <li class="pRESERVE_LEVEL"><kendo-grid options="pRESERVE_LEVEL"></kendo-grid></li>
				                         <li class="pMINE_TYPE"><kendo-grid options="pMINE_TYPE"></kendo-grid></li>
                                    </ul>
                                </div>
                                <div class="uk-width-1-4">
                                    <ul class="uk-tab uk-tab-right" data-uk-tab="{connect:'#tabs_6'}">
                                         <li class="uk-active"><a href="#">Тайлангийн төрөл</a></li>
                                         <li><a href="#">Файлын төрөл болон байршуулах хамгийн их хэмжээ</a></li>
                                         <li ng-click="division()"><a href="#">АМГ-ын хэлтсүүд</a></li>
				                         <li ng-click="forms()"><a href="#">Ашиглагдах бүх маягтууд</a></li>
				                         <li><a href="#">Бүх бүтээгдэхүүнүүдийн жагсаалт</a></li>
				                         <li><a href="#">Бүх хэмжих нэгжийн жагсаалт</a></li>
				                         <li><a href="#">Тайлангийн явц</a></li>
				                         <li><a href="#">Тайлан баталгаажуулах үе шат</a></li>
				                         <li><a href="#">Нөөцийн зэргийн бүртгэл</a></li>
				                         <li><a href="#">Уурхайн төрлийн бүртгэл</a></li>				                         
                                    </ul>
                                </div>
                            </div>
                        </div>                    
                    </div>			     	
                 </div>
			 </div> 
        </div>
    </div>
