    <div id="page_content">
        <div id="page_content_inner">
             <div class="md-card">
			     <div class="md-card-content">
			        <!--  <h3 class="heading_a">Input fields</h3> -->
			         <div class="uk-grid" data-uk-grid-margin>
			             <div class="uk-width-medium-1-1">    
			             	 <kendo-grid options="pWeeklyGrid"></kendo-grid>                     	
			                <!-- <div id="orgGrid"></div> -->
			             </div>                  
			         </div>               
			     </div>
			 </div>			
        </div>
    </div>
