    <div id="top_bar" top-bar>
        <div class="md-top-bar">
            <div class="uk-width-large-8-10 uk-container-center">
                <div class="uk-clearfix">
                    <div class="md-top-bar-actions-left">
                        <div class="md-top-bar-checkbox">
                            <input type="checkbox" id="mailbox_select_all" ng-model="select_all_messages" icheck />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page_content">
        <div id="page_content_inner">

            <div class="md-card-list-wrapper" id="mailbox">
                <div class="uk-width-large-8-10 uk-container-center">

                    <div class="md-card-list">
                        <div class="md-card-list-header heading_list">All messages</div>
                        <div class="md-card-list-header md-card-list-header-combined heading_list" style="display: none">All Messages</div>
                        <ul class="hierarchical_slide" hierarchical-slide>
                            <li ng-click="verify(message)" id="wr{{message.id}}" ng-repeat="message in messages" on-last-repeat>
                                <div class="md-card-list-item-menu" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                    <a href="#" class="md-icon material-icons">&#xE5D4;</a>
                                    <div class="uk-dropdown uk-dropdown-small">
                                        <ul class="uk-nav">
                                            <li><a href="javascript:void(0)"><i class="material-icons">&#xE149;</i> Archive</a></li>
                                            <li><a ng-click="deleteMail(message.id)" href="javascript:void(0)"><i class="material-icons">&#xE872;</i> Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <span class="md-card-list-item-date">{{message.senddate | jsonDate | date: 'dd MMM yyyy' }}</span>
                                <div class="md-card-list-item-select">
                                    <input type="checkbox" class="select_message" icheck ng-model="messsage_select" />
                                </div>
                                <div class="md-card-list-item-avatar-wrapper">
                                    <img ng-src="{{message.sender_avatar}}" class="md-card-list-item-avatar" alt="" ng-if="message.sender_avatar"/>
                                    <span class="md-card-list-item-avatar md-bg-{{message.senderColor}}-600" ng-if="!message.sender_avatar">{{message.sender | initials}}</span>
                                </div>
                                <div class="md-card-list-item-sender" style="width:300px;">
                                    <span ng-if="message.verified">{{message.sender}}</span>
                                    <span ng-if="!message.verified">{{message.email}} -> {{message.recipientName}} </span>
                                </div>
                                <div class="md-card-list-item-subject">
                                    <div class="md-card-list-item-sender-small">
                                        <span ng-if="message.verified">{{message.sender}}</span>
                                        <span ng-if="!message.verified">{{message.email}}</span>
                                    </div>
                                    <span>{{message.title}}</span>                                    
                                </div>
                                <div class="md-card-list-item-content-wrapper">
                                    <div class="md-card-list-item-content" style="padding:16px 0 0 0;">  
                                    	 <div class="uk-grid" data-uk-grid-margin>
								            <div class="uk-width-medium-1-1">
								                 <p ng-bind-html="message.content"></p>
								            </div>
								            <div class="uk-width-medium-1-1" ng-if="message.lnkTezuDatas.length>0">
								                <table class="uk-table uk-table-striped uk-table-hover">
						                            <thead>
						                            <tr>
						                                <th>File name</th>
						                                <th>File size</th>
						                                <th>File type</th>
						                                <th style="width:100px;">File download</th>
						                            </tr>
						                            </thead>
						                            <tbody>
						                            <tr ng-repeat="item in message.lnkTezuDatas">
						                                <td style="vertical-align:middle;">{{item.filename}}</td>
						                                <td style="vertical-align:middle;">{{item.filesize}}</td>
						                                <td style="vertical-align:middle;">{{item.filetype}}</td>
						                                <td style="text-align:center;">
						                                	<a download="{{item.fileUrl}}"  href="{{item.fileUrl}}" class="md-card-toolbar-actions">
								                                <i class="md-icon material-icons md-color-red-500">cloud_download</i>
								                            </a>
						                                </td>
						                            </tr>							                    
						                            </tbody>
						                        </table>
								            </div>
								        </div>    
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

<style>
	.k-invalid-msg{
		width:517px;
	}
</style>
    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent" href="#modal_main_tezu" data-uk-modal="{center:true}">
            <i class="material-icons">&#xE150;</i>
        </a>
    </div>

    <div class="uk-modal" id="modal_main_tezu">
	  <div class="uk-modal-dialog">
            <button class="uk-modal-close uk-close" type="button"></button>
            <form id="form_validation" class="uk-form-stacked" data-ng-submit="validator()">
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">Compose Message</h3>
                </div>
                 <div class="uk-margin-medium-bottom">
                     <div class="parsley-row">
                         <input config="users_config" options="users_options" ng-model="message_compose.recipient" required name="val_select" selectize />
                     </div>
                 </div>
                 <div class="uk-margin-medium-bottom">
                    <label for="mail_new_to">Title</label>
                    <input type="text" class="md-input" id="mail_new_to" md-input ng-model="message_compose.title" />
                </div>
             <!--    <div class="uk-margin-medium-bottom">
                    <label for="mail_new_to">Title</label>
                    <input type="text" class="md-input" id="mail_new_to" required md-input ng-model="message_compose.title" />
                </div> -->
                <div class="uk-margin-large-bottom">
                	 <div class="parsley-row">
	                    <label for="mail_new_message">Message</label>
	                    <textarea name="mail_new_message" id="mail_new_message" cols="30" rows="6" required class="md-input" md-input ng-model="message_compose.message"></textarea>
                	</div>
                </div>
                <div id="mail_upload-drop" class="uk-file-upload">
                    <p class="uk-text">Drop file to upload</p>
                    <p class="uk-text-muted uk-text-small uk-margin-small-bottom">or</p>
                    <span class="uk-form-file md-btn">choose file<input id="mail_upload-select" type="file" ng-model="message_compose.attachments"></span>
                </div>
                <div id="mail_progressbar" class="uk-progress uk-hidden">
                    <div class="uk-progress-bar" style="width:0">0%</div>
                </div>
                <div class="uk-modal-footer">
                    <button type="submit" class="uk-float-right md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Send</button>
                </div>
            </form>
        </div> 
</div>
