<div id="page_content" style="overflow:hidden;">
    <div id="page_content_inner">
    	<form id="form_validation" class="uk-form-stacked" data-ng-submit="submitForm()">
    		<input type="hidden" required ng-model="config.reqid" class="md-input" md-input />
	    	<div class="md-card">
	               <div class="md-card-content">
	                   <div class="uk-grid" data-uk-grid-margin> 
	                   	   <div class="uk-width-medium-6-10">
	                   	   		<h3 style="margin-top:7px;">Тайлан төлөвлөгөө өгөх тухайн тусгай зөвшөөрлийн тохиргоо : {{rrq.areaName}}</h3>
	                   	   </div>                                    
	                       <div class="uk-width-medium-4-10 uk-text-right">
	                           <button class="md-btn md-btn-primary md-btn-wave-light" type="submit" data-translate="Save"></button>
	                       </div>                        
	                   </div>                    
	               </div>
	        </div>
	    	<div class="md-card">
	            <div class="md-card-content">
	                <div class="uk-grid" data-uk-grid-margin>
	                    <div class="uk-width-medium-1-1">
	                    	
	                            <div class="uk-grid">
	                                <div class="uk-width-medium-1-3">
	                                	<div class="parsley-row">
	                                    <label>Ордын нэр</label>
	                                    <input type="text" data-parsley-required data-parsley-error-message="Утгаа оруулна уу" ng-model="config.horde" class="md-input" md-input />
	                                    </div>
	                                </div>
	                                <div class="uk-width-medium-1-3">
	                                	<div class="parsley-row">
	                                	    <label>Аймаг / Нийслэл...</label>
	                                		<input type="text" data-parsley-required data-parsley-error-message="Утгаа оруулна уу" ng-model="config.aimagid" class="md-input" md-input />
							            </div>
	                                </div>
	                                <div class="uk-width-medium-1-3">
	                                	<div class="parsley-row">
	                                	    <label>Сум / Дүүрэг...</label>
	                                		<input type="text" data-parsley-required data-parsley-error-message="Утгаа оруулна уу" ng-model="config.sumid" class="md-input" md-input />
							            </div>
	                                </div>
	                            </div>
	                      
	                    	
	                            <div class="uk-grid">
	                                <div class="uk-width-medium-1-3">
	                                	<div class="uk-grid">
			                                <div class="uk-width-medium-1-2">
			                                	<div class="parsley-row">
				                                    <label style="float:left;  margin:10px 0 0 10px;">Ашигт малтмалын нэр</label>
			                                    </div>
			                                </div>
			                                <div class="uk-width-medium-1-2">
			                                	<div class="parsley-row">
			                                		<selectize ng-change="mineralChange(config.mineralid)"  ng-model="config.mineralid" class="md-input" placeholder="Сонгоно уу..." id="mineral"
											         style="float:right;  margin:0px 0 0 10px;" required
											         position="bottom" config="selectize_mineral_config" options="selectize_mineral_options" name="mineral"></selectize>
			                                	</div>
			                                </div>
			                            </div>
	                                </div>
	                                <div class="uk-width-medium-1-3">
	                                	<div class="uk-grid">
			                                <div class="uk-width-medium-1-2">
			                                	<div class="parsley-row">
				                                   <label style="float:left;  margin:10px 0 0 10px;">Ашигт малтмалын төрөл</label>
			                                    </div>
			                                </div>
			                                <div class="uk-width-medium-1-2">
			                                	<div class="parsley-row">
				                                	<input config="selectize_deposidid_config" options="selectize_deposidid_options"  placeholder="Сонгоно уу..."
				                                	ng-model="config.deposidid" required name="deposidid" selectize />
			                                		<!-- <selectize  required ng-model="config.deposidid" class="md-input" placeholder="Сонгоно уу..." id="deposidid" required
											         position="bottom" config="selectize_deposidid_config" options="selectize_deposidid_options" name="deposidid" ></selectize> -->
			                                	</div>
			                                </div>
			                            </div>
	                                </div>
	                                 <div class="uk-width-medium-1-3">
		                                 <div class="uk-form-row parsley-row">
		                                    <label>Хөрөнгө оруулалт /Улсын нэр/</label>
		                                    <input type="text" data-parsley-required data-parsley-error-message="Утгаа оруулна уу" ng-model="config.countries" class="md-input" md-input />
	                                    </div>
	                                </div>
	                            </div>
	                      
	                            <div class="uk-grid">
	                                <div class="uk-width-medium-1-3">
	                                	  <div class="uk-form-row parsley-row">
	                                    <label>ТЭЗҮ хүлээн авсан/батлуулсан (он, сар, өдөр)</label>
	                                    <input class="md-input" data-parsley-required data-parsley-error-message="Утгаа оруулна уу" ng-model="config.appdate" type="text" id="uk_dp_1" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input ng-model="forms_advanced.datepicker">
	                                	</div>
	                                </div>
	                                <div class="uk-width-medium-1-3">
	                                	  <div class="uk-form-row parsley-row">
	                                    <label>ТЭЗҮ-д тооцсон жилийн хүч чадал (Мян.тн/жил)</label>
	                                    <input type="number" data-parsley-required data-parsley-error-message="Утгаа оруулна уу" ng-model="config.yearcapacity" class="md-input" md-input />
	                               		</div>
	                                </div>
	                                 <div class="uk-width-medium-1-3">
	                                 	  <div class="uk-form-row parsley-row">
	                                    <label>Ашиглах нийт хугацаа (Жилээр)/</label>
	                                    <input type="number" data-parsley-required data-parsley-error-message="Утгаа оруулна уу" ng-model="config.workyear" class="md-input" md-input />
	                                    </div>
	                                </div>
	                            </div>
	                        
	                            <div class="uk-grid">
	                                <div class="uk-width-medium-1-3">
	                                	<div class="uk-grid">
			                                <div class="uk-width-medium-1-2">
			                                	<div class="parsley-row">
				                                 	<label  style="float:left;  margin:10px 0 0 10px;" >Ашиглалтын технологи</label>
			                                    </div>
			                                </div>
			                                <div class="uk-width-medium-1-2">
			                                	<div class="parsley-row">
			                                		<selectize type="text" required ng-model="config.minetypeid" class="md-input" placeholder="Сонгоно уу..." id="mineType"
											         position="bottom" config="selectize_mineType_config" options="selectize_mineType_options" name="mineType"></selectize>
			                                	</div>
			                                </div>
			                            </div>
	                                </div>
	                                <div class="uk-width-medium-1-3">
	                                	<div class="uk-grid">
			                                <div class="uk-width-medium-2-3">
			                                	<div class="parsley-row">
				                                 	<label style="float:left;  margin:10px 0 0 10px;">Улсын төсвийн хөрөнгөөр хийсэн хайгуулын ажлын нөхөн төлбөрийн гэрээтэй эсэх</label>
			                                    </div>
			                                </div>
			                                <div class="uk-width-medium-1-3">
			                                	<div class="parsley-row">
			                                		<selectize type="text" required ng-change="statebudget()" ng-model="config.statebudgetid" class="md-input" placeholder="Сонгоно уу..." id="statebudgetid"
											         position="bottom" config="selectize_isfile_config" options="selectize_isfile_options" name="statebudgetid"></selectize>
			                                	</div>
			                                </div>
			                            </div>
	                                </div>
	                                <div class="uk-width-medium-1-3">
	                                	<div class="uk-grid">
			                                <div class="uk-width-medium-1-2">
			                                	<div class="parsley-row">
				                                 	<label style="float:left;  margin:10px 0 0 10px;">Баяжуулалтын технологи</label>
			                                    </div>
			                                </div>
			                                <div class="uk-width-medium-1-2">
			                                	<div class="parsley-row">
			                                		<selectize ng-change="ena()" required type="text" ng-model="config.concetrate" class="md-input" placeholder="Сонгоно уу..." id="concetrate"
											         position="bottom" config="selectize_concent_config" options="selectize_concent_options" name="concetrate"></selectize>
			                                	</div>
			                                </div>
			                            </div>
	                                </div>
	                            </div>
	                            <div class="uk-grid">
	                                <div class="uk-width-medium-1-3">
	                                	<div class="uk-grid">
			                                <div class="uk-width-medium-2-3">
			                                	<div class="parsley-row">
				                                 	<label style="float:left;  margin:10px 0 0 10px;">Улсын комисс ажилласан тухай</label>
			                                    </div>
			                                </div>
			                                <div class="uk-width-medium-1-3">
			                                	<div class="parsley-row">
			                                		<selectize ng-change="enacom()" required type="text" ng-model="config.komissid" class="md-input" placeholder="Сонгоно уу..." id="concetrate"
											         position="bottom" config="selectize_isfile_config" options="selectize_isfile_options" name="concetrate"></selectize>
			                                	</div>
			                                </div>
			                            </div>
	                                </div>
	                                 <div class="uk-width-medium-1-3" ng-show="showcom">
	                                 	 <div class="uk-form-row parsley-row">
	                                    <label style="color:#727272">Ашиглалтанд хүлээж авсан огноо</label>
	                                    <input ng-show="showcom"  class="md-input" ng-model="config.komissdate" type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input/>
	                                	</div>
	                                </div>
	                                <div class="uk-width-medium-1-3" ng-show="showcom">
		                                 <div class="uk-form-row parsley-row">
		                                    <label style="color:#727272">Актын дугаарыг шивэх/</label>
		                                    <input ng-show="showcom" type="text"  ng-model="config.komissakt" class="md-input" md-input />
	                                	</div>
	                                </div>	                            
	                        </div>
	                        
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-3">
                                	<div class="uk-form-row parsley-row">
	                                    <label>Ашиглалт эхэлсэн огноо</label>
	                                    <input class="md-input" required ng-model="config.startdate" type="text" id="uk_dp_1" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input
	                                    data-parsley-required data-parsley-error-message="Утгаа оруулна уу"/>
                                	</div>
                                </div>
                                <div class="uk-width-medium-1-3">
                                	<div class="uk-grid">
			                                <div class="uk-width-medium-2-3">
			                                	<div class="parsley-row">
				                                 	<label style="float:left;  margin:10px 0 0 10px;">Тэсэлгээний ажил...</label>
			                                    </div>
			                                </div>
			                                <div class="uk-width-medium-1-3">
			                                	<div class="parsley-row">
			                                		<selectize ng-change="ena()" required ng-model="config.bombid" class="md-input" placeholder="Сонгоно уу..." id="concetrate"
											         position="bottom" config="selectize_isfile_config" options="selectize_isfile_options" name="concetrate"></selectize>
			                                	</div>
			                                </div>
			                            </div>
                                </div>
                                <div class="uk-width-medium-1-3">
                                	<div class="uk-grid">
			                        	<div class="uk-width-medium-1-3">
			                            	<div class="parsley-row">
				                            	<label style="float:left;  margin:10px 0 0 10px;">Гүйцэтгэгч...</label>
			                                </div>
			                            </div>
			                            <div class="uk-width-medium-2-3">
			                            	<div class="parsley-row">
			                                	<selectize ng-change="ena()" required ng-model="config.bombtype" class="md-input" placeholder="Сонгоно уу..." id="concetrate"
											    position="bottom" config="selectize_bombtype_config" options="selectize_bombtype_options" name="concetrate"></selectize>
			                                </div>
			                            </div>
			                        </div>
                                </div>
                            </div>
	                    </div>                  
	                </div>              
	            </div>
	        </div>
        <!-- 	<div class="md-card" ng-show="contract">
	            <div class="md-card-content">
	                <div class="uk-grid">
                        <div class="uk-width-medium-2-6 uk-margin-medium-top">
                        	<div class="uk-form-row parsley-row">
                             <label>Гэрээний төлөв</label>
                             <input class="md-input"  ng-model="subContract.contractstatus" type="text" id="uk_dp_1"  md-input>
                        	</div>
                        </div>
                         <div class="uk-width-medium-2-6 uk-margin-medium-top">
                        	<div class="uk-form-row parsley-row">
                             <label>Гэрээ байгуулсан огноо</label>
                             <input class="md-input"  ng-model="subContract.contractdate" type="text" id="uk_dp_1" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input>
                        	</div>
                        </div>
                         <div class="uk-width-medium-2-6 uk-margin-medium-top">
                        	<div class="uk-form-row parsley-row">
                             <label>Нийт гэрээний дүн (ам доллар)</label>
                             <input class="md-input"  ng-model="subContract.contractamount" type="number" id="uk_dp_1" md-input>
                        	</div>
                        </div>
                         <div class="uk-width-medium-2-6 uk-margin-medium-top">
                        	<div class="uk-form-row parsley-row">
                             <label>Төлсөн дүн (ам доллар)</label>
                             <input class="md-input"  ng-model="subContract.paid" type="number" id="uk_dp_1"  md-input>
                        	</div>
                        </div>
                         <div class="uk-width-medium-2-6 uk-margin-medium-top">
                        	<div class="uk-form-row parsley-row">
                             <label>Үлдэгдэл дүн (ам доллар)</label>
                             <input class="md-input"  ng-model="subContract.balance" type="number" id="uk_dp_1"  md-input>
                        	</div>
                        </div>
                         <div class="uk-width-medium-2-6 uk-margin-medium-top">
                        	<div class="uk-form-row parsley-row">
                             <label>Тухайн онд төлөх дүн (төгрөгөөр)</label>
                             <input class="md-input"  ng-model="subContract.currentpayment" type="number" id="uk_dp_1"  md-input>
                        	</div>
                        </div>
                         <div class="uk-width-medium-2-6 uk-margin-medium-top">
                        	<div class="uk-form-row parsley-row">
                             <label>Гэрээг дүгнэж акт үйлдсэн огноо</label>
                             <input class="md-input"  ng-model="subContract.conclusiondate" type="text" id="uk_dp_1" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input>
                        	</div>
                        </div>
                    </div>	
                </div>
            </div> -->
            <!-- <div class="md-card" ng-show="nocontract">
	            <div class="md-card-content">
	                <div class="uk-grid">
                        <div class="uk-width-medium-2-6">
                        	<div class="uk-form-row parsley-row">
                             <label>Хүсэлтийн төлөв</label>
                             <input class="md-input"  ng-model="subNoContract.requeststatus" type="text" id="uk_dp_1"  md-input>
                        	</div>
                        </div>
                         <div class="uk-width-medium-2-6">
                        	<div class="uk-form-row parsley-row">
                             <label>ААН-ийн хүсэлт ирүүлсэн огноо</label>
                             <input class="md-input"  ng-model="subNoContract.requestdate" type="text" id="uk_dp_1" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input>
                        	</div>
                        </div>
                         <div class="uk-width-medium-2-6">
                        	<div class="uk-form-row parsley-row">
                             <label>АМГ-ын албан бичгийн бүртгэлийн дугаар</label>
                             <input class="md-input"  ng-model="subNoContract.mramregid" type="text" id="uk_dp_1" md-input>
                        	</div>
                        </div>                       
                    </div>
                    <div class="uk-grid">                       
                         <div class="uk-width-medium-2-6">
                        	<div class="uk-form-row parsley-row">
                             <label>Гэрээ байгуулах шаардлагагүй гэсэн тодорхойлолт</label>
                             <input class="md-input"  ng-model="subNoContract.reference" type="text" id="uk_dp_1"  md-input>
                        	</div>
                        </div>
                         <div class="uk-width-medium-2-6">
                        	<div class="uk-form-row parsley-row">
                             <label>АМГ-ын албан огноо</label>
                             <input class="md-input"  ng-model="subNoContract.mramdate" type="text" id="uk_dp_1" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input>
                        	</div>
                        </div>
                         <div class="uk-width-medium-2-6">
                        	<div class="uk-form-row parsley-row">
                             <label>АМГ-ын албан бичгийн дугаар</label>
                             <input class="md-input"  ng-model="subNoContract.mramletterid" type="text" id="uk_dp_1"  md-input>
                        	</div>
                        </div>                        
                    </div>	
                </div>
            </div> -->
        </form>
    </div>     
</div>
 <script type="text/javascript">
 
                    var categories = $("#categories").kendoDropDownList({
                        optionLabel: "Аймаг / Нийслэл...",
                        dataTextField: "name",
                        dataValueField: "id",
                        filter: "startswith",
                        dataSource: {
                            serverFiltering: true,
                            transport: {
            	                read: {
            	                    url: "/user/service/cascading/kendo/LutAdminunitParent",
            	                    contentType:"application/json; charset=UTF-8",                                    
                                    type:"POST"
            	                },
            	                parameterMap: function(options) {
                               	   return JSON.stringify(options);
                                }
            	             }
                        }                       
                    }).data("kendoDropDownList");
            </script>
<footer id="footer">
    <span style="display:block;  text-align:right;">&copy; 2015-2016 <a href="#">Smart Green Technology LLC</a>, All rights reserved.</span>
</footer>