<!-- Main -->
<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-6">
            <img class="footer-logo" src="assets/img/sgt_logo_black.png" alt=""/>
            <br/>
            <h3>Смарт Грийн Технологи ХХК</h3>
            <span>
                Улаанбаатар хот, Сүхбаатар дүүрэг
            </span>
        </div>

        <!--<div class="col-md-4 col-sm-6 ">
            <h4>Helpful Links</h4>
            <ul class="footer-links">
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Add Property</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>

            <ul class="footer-links">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Our Agents</a></li>
                <li><a href="#">How It Works</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>-->

        <div class="col-md-3  col-sm-12">
            <h4>Холбогдох</h4>
            <div class="text-widget">

                <!--Утас: <span>(976) 7746-6168 </span><br/>-->
                Имэйл:<span> <a href="mailto:sgt.mongolia@gmail.com" target="_blank">sgt.mongolia@gmail.com</a></span><br>
                Вэбсайт:<span> <a href="http://smartgt.mn" target="_blank">http://smartgt.mn</a></span>
            </div>

            <!--<ul class="social-icons margin-top-20">
                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
            </ul>-->

        </div>

    </div>

    <!-- Copyright -->
    <div class="row">
        <div class="col-md-12">
            <div class="copyrights">© 2016-2017 Зохиогчийн эрх хуулиар хамгаалагдсан</div>
        </div>
    </div>

</div>