<div ng-controller="dataFormsController49">
	<h3>Цооногийн мэдээлэл</h3>
    <kendo-grid id="formGrid1" options="proleGrid1"></kendo-grid>
    <h3>Суваг малталт</h3>
    <kendo-grid id="formGrid2" options="proleGrid2"></kendo-grid>
    <h3>Шурф нэвтрэлт</h3>
    <kendo-grid id="formGrid3" options="proleGrid3"></kendo-grid>
</div>
<style type="text/css">
/* #formGrid1 .k-grid-header .k-header{
  height: 100px !important;
}


#formGrid3 .k-grid-header .k-header{
  height: 90px !important;
} */

.k-grid  .k-grid-header  .k-header {
    white-space: normal;
}
</style>