<div id="page_content">
	      <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">      
		        <h3 style="margin:20px; 0 0 0">Компаний нэр: {{tz.lpname}} - Тусгай зөвшөөрлийн дугаар: {{tz.lcnum}} - Тайлангийн төрөл: 
		        <span ng-if="tz.reporttype==3"> Төлөвлөгөө </span>  
		        <span ng-if="tz.reporttype==4"> Тайлан </span>  
		        - Тайлангийн огноо: {{tz.year}}</h3>
		    </div>
    <div id="page_content_inner">
	
        <div class="md-card uk-margin-large-bottom">
        	        
            <div class="md-card-content">
				 <div class="uk-grid" data-uk-grid-margin>
                     <div class="uk-width-1-1">
                         <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1'}">
                             <li class="uk-active"><a href="#">Ерөнхий мэдээлэл</a></li>
                             <li ng-click="openDeactive()" ><a href="#">Бичвэр мэдээллийг шалгах</a></li>
                             <li ng-click="openDeactive()" ><a href="#">Хавсралтуудыг шалгах</a></li>    
                             <li ng-show="{{tab}}"   id="tabid6" ><a href="#">Эцсийн шийдвэр</a></li>                         
                         </ul>
                         <ul id="tabs_1" class="uk-switcher uk-margin">
                             <li>
                           	     <form id="form_General" class="uk-form-stacked">
	                             	 <h3 class="full_width_in_card heading_c">
	                                	 Байгууллагын мэдээлэл
	                                	  <!-- <i style="float:right; margin:-5px -15px 0 0;" class="md-icon material-icons" ng-click="saveGeneral($event,noteForm.id)">&#xE161;</i> -->
	                             	 </h3>

		                        	<div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-3" data-uk-grid-margin>                        		 
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="md-list-addon-icon material-icons">&#xE87C;</i>
                                            </span>
                                            <label>Овог</label>
                                            <input class="md-input" type="text" id="user_edit_uname_control"  name="user_edit_uname_control" required ng-model="org_data.famName" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="md-list-addon-icon material-icons">&#xE7FD;</i>
                                            </span>
                                            <label>Нэр</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control"  name="user_edit_uname_control" required ng-model="org_data.givName" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="md-list-addon-icon material-icons">&#xE0BE;</i>
                                            </span>
                                            <label>Email</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.email" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="md-list-addon-icon material-icons">&#xE87C;</i>
                                            </span>
                                            <label>First name</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control"  name="user_edit_uname_control" required ng-model="org_data.famNameL1" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="md-list-addon-icon material-icons">&#xE7FD;</i>
                                            </span>
                                            <label>Last name</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control"   name="user_edit_uname_control" required ng-model="org_data.givNameL1" md-input />
                                        </div>
                                    </div>                                  
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                            </span>
                                            <label>Phone</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.phone" md-input />
                                        </div>
                                    </div>
                                    
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="md-list-addon-icon material-icons">&#xE0AF;</i>
                                            </span>
                                            <label>Хот</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.city" md-input />
                                        </div>
                                    </div>
                                    <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                 <i class="md-list-addon-icon material-icons">&#xE7F1;</i>
                                            </span>
                                            <label>Дүүрэг</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.disctrict" md-input />
                                   </div>
                                   
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE84F;</i>          
                                            </span>
                                            <label>Хороо</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.khoroo" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="md-list-addon-icon material-icons">&#xE0AF;</i>
                                            </span>
                                            <label>City</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.cityL1" md-input />
                                        </div>
                                    </div>                                
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                 <i class="md-list-addon-icon material-icons">&#xE7F1;</i>
                                            </span>
                                            <label>District</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.disctrictL1" md-input />
                                        </div>
                                    </div>                                 
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE84F;</i>          
                                            </span>
                                            <label>Khoroo</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.khorooL1" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">                                                 
                                                 <i class="md-list-addon-icon material-icons">&#xE8FE;</i>
                                            </span>
                                            <label>Гудамж</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.street" md-input />
                                        </div>
                                    </div>
                                  
                                  
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                 <i class="md-list-addon-icon material-icons">&#xE8FE;</i>
                                            </span>
                                            <label>Street</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.streetL1" md-input />
                                        </div>
                                    </div>
                                    
                                     <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                                 <i class="md-list-addon-icon material-icons">&#xE89B;</i>
                                            </span>
                                            <label>Post box</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.postbox" md-input />
                                        </div>
                                    </div>
                                   

                                    <div>
                                    	<div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Ерөнхий инженер</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.gengineer" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Утас</label>
                                             <input class="md-input" type="number" id="user_edit_uname_control" value="{{org_data.gengineerphone}}" name="user_edit_uname_control" required ng-model="org_data.gengineerphone" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>И-мэйл</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.gengineermail" md-input />
                                        </div>
                                    </div>

                                      <div>
                                    	<div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Геологич</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.geologist" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Утас</label>
                                             <input class="md-input" type="number" id="user_edit_uname_control"  value="{{org_data.geologistphone}}" name="user_edit_uname_control" required ng-model="org_data.geologistphone" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>И-мэйл</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.geologistmail" md-input />
                                        </div>
                                    </div>

                                      <div>
                                    	<div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Маркшейдер</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.msurveyor" md-input />
                                        </div>
                                    </div>
                           
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Утас</label>
                                             <input class="md-input" type="number" id="user_edit_uname_control" value="{{org_data.msurveyorphone}}" name="user_edit_uname_control" required ng-model="org_data.msurveyorphone" md-input />
                                        </div>
                                    </div>
         							<div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>И-мэйл</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.msurveyoremail" md-input />
                                        </div>
                                    </div>
                                      <div>
                                    	<div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Нягтлан</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.accountant" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Утас</label>
                                             <input class="md-input" type="number" id="user_edit_uname_control"  value="{{org_data.accountantphone}}" name="user_edit_uname_control" required ng-model="org_data.accountantphone" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>И-мэйл</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.accountantemail" md-input />
                                        </div>
                                    </div>
                                    <div>
                                    	<div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Эдийн засагч</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.economist" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Утас</label>
                                             <input class="md-input" type="number" id="user_edit_uname_control" value="{{org_data.economistphone}}" name="user_edit_uname_control" required ng-model="org_data.economistphone" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>И-мэйл</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.economistemail" md-input />
                                        </div>
                                    </div>
                                    <div>
                                    	<div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Уурхайн дарга</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.minehead" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Утас</label>
                                             <input class="md-input" type="number" id="user_edit_uname_control" value="{{org_data.minephone}}" name="user_edit_uname_control" required ng-model="org_data.minephone" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>И-мэйл</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.mineemail" md-input />
                                        </div>
                                    </div>
                                   <div>
                                    	<div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Мэргэжилтэн</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.keyman" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>Утас</label>
                                             <input class="md-input" type="number" id="user_edit_uname_control" value="{{org_data.keymanphone}}" name="user_edit_uname_control" required ng-model="org_data.keymanphone" md-input />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="parsley-row uk-input-group">
                                            <span class="uk-input-group-addon">
                                               <i class="md-list-addon-icon material-icons">&#xE566;</i>    
                                            </span>
                                            <label>И-мэйл</label>
                                             <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" required ng-model="org_data.keymanemail" md-input />
                                        </div>
                                    </div>
                              </div>       
                             	</form>
                             </li>
                             <li>
                             	 <div class="uk-width-medium-10-10 uk-container-center reset-print">
						            <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
						                <div class="uk-width-large-3-10 hidden-print uk-visible-large">
						                    <div class="md-list-outside-wrapper" custom-scrollbar list-outside>
						                        <ul class="md-list md-list-outside notes_list">
						                            <li class="heading_list" ng-repeat-start="list in notes_data"  ng-class="{ 'uk-text-danger': $index == 0}">Жагсаалт</li>
						                            
						                             <li ng-repeat-end ng-repeat="note in list.notes"  ng-if="note.inptype==2" ng-class="{
						                                        'md-bg-light-green-100':note.decision == '1',
						                                        'md-bg-light-blue-100':note.decision == '3',
						                                        'md-bg-deep-orange-100':note.decision == '2'
						                                        }"> 
						                                <a href="#" class="md-list-content note_link" ng-click="openNote($event,$parent.$index,$index,note)">
						                                    <span class="md-list-heading uk-text-truncate">{{note.title}}</span>
						                                    <span class="uk-text-small uk-text-muted">{{note.date}}</span>
						                                </a>
						                            </li>
						                        </ul>
						                    </div>
						                </div>
						                <div class="uk-width-large-7-10">
							                    <div class="md-card md-card-single" style="height:100%;" single-card>
							                       <div ng-if="!noteActive">
							                            <div class="md-card-toolbar">
							                                <h3 class="md-card-toolbar-heading-text">Тайлан төлөвлөгөө хянахад анхаарах зүйлс</h3>
							                            </div>
							                            <div class="md-card-content">
							                                <ul class="uk-text-large uk-margin-large-top uk-margin-large-bottom">	
							                                	<li>						                                	
							                                  		Зүүн хэсэгт байрлах жагсаалтаас сонгож ажлаа үргэлжлүүлнэ.
							                                   </li>
							                                  
							                                   <li>						                                	
							                                  		Ажлаа дараа нь үргэлжлүүлэх бол заавал хадгалах товчийг дарж хадгална. 
							                                   </li>
							                                   <li>						                                	
							                                  		Ажил тус бүрийг хянаж шийдвэр хэсэгт заавал үр дүн бичнэ.
							                                   </li>
							                                </ul>
							                            </div>
							                        </div>
							                        <form  ng-if="noteActive" data-ng-submit="submitForm()">
							                            <div class="md-card-toolbar hidden-print">                      	 
							                               
							                               <h3 class="md-card-toolbar-heading-text">{{note_form.title}}</h3>							                             
							                            </div>
							                                     <div class="md-card-content" ng-if="note_form.images.length==0" style="min-height:278px;">
							                            	<div ng-if="note_form.content==null">								                        
									                            <div class="md-card-content">
									                                <p class="uk-text-center uk-text-large uk-margin-large-top">
									                                   Ямар нэгэн өгөгдөл илгээгээгүй байна.
									                                </p>
									                            </div>
									                        </div>
									                        <div ng-if="note_form.content!=null">								                        
									                            <div class="md-card-content">
									                                <p class="uk-text-center uk-text-large uk-margin-large-top" ng-bind-html="note_form.content"></p>				
									                            </div>
									                        </div>                         	
							                                <input type="hidden" name="note_id" ng-model="noteForm.id">
							                            </div>
							                            <div class="md-card-content lala " ng-if="note_form.images.length>0">							               					                            	
							                                <input type="hidden" name="note_id" id="noteid" ng-model="noteForm.id">
							                                <div class="uk-overflow-container">
											                	<table class="uk-table uk-table-striped">
											                    	<thead>
											                            <tr>
											                                <th style="width: 70px">Төрөл</th>
											                                <th>Файлын нэр</th>
											                                <th>Огноо</th>
											                                <th style="width: 150px"></th>
											                            </tr>
											                      	</thead>
											                        <tbody>
										                            	<tr ng-repeat="item in note_form.images">
									                                        <td>
									                                            <span  ng-switch on="item.ext">
									                                                	<span ng-switch-when="png" style="text-align:center;">
															                             	<i style="font-size:30px;" class="material-icons uk-text-primary">photo</i>
															                            </span>
															                            <span ng-switch-when="jpg" style="text-align:center;">
															                             	<i style="font-size:30px;" class="material-icons uk-text-primary">photo</i>
															                            </span>
															                            <span ng-switch-when="jpeg" style="text-align:center;">
															                             	<i style="font-size:50px;" class="material-icons uk-text-primary">photo</i>
															                            </span>
															                            <span ng-switch-when="gif" style="text-align:center;">
															                             	<i style="font-size:30px;" class="material-icons uk-text-primary">photo</i>
															                            </span>
									                                                    <span ng-switch-default target="_self" style="text-align:center;">
															                             	<i style="font-size:30px;" class="material-icons uk-text-primary">archive</i>
															                            </span>
									                                                </span>
									                                              
									                                        </td>
									                                        <td>{{item.title}}</td>
									                                        <td>{{item.date}}</td>
									                                        <td>
									                                        	<a class="md-btn md-btn-primary md-btn-small md-btn-wave-light" target="_blank" download="{{item.title}}" href="{{item.url}}">
																                	Татах
																                </a>
									                                        </td>
									                                    </tr>
											                    	</tbody>
											                	</table>       
											                </div>
							                            </div>
						                                <div class="md-card-content"  ng-if="noteActive">
										                        <div class="md-card-toolbar" style="padding:0px;">
										                            <h3 class="md-card-toolbar-heading-text large">
										                                <span class="uk-text-muted">Шийдвэрлэлт</span> <a href="#">{{chat_users[1].name}}</a>
										                            </h3>
										                        </div>
										                        
										                        <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
												                    <div class="uk-width-medium-4-4">													                        
												                        <div class="" ng-if="note_form.comm.length>0">
												                        	 <div class="md-card" ng-repeat="block in note_form.comm | orderBy: 'date'">
																                <div class="md-card-content" >																	                   
																                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
																                        <div class="uk-width-medium-1-2">
																                        	<ul class="md-list">
																                                <li>
																                                    <div class="md-list-content">
																                                        <span class="md-list-heading">Тайлбар</span>
																                                        <span class="uk-text-small uk-text-muted" ng-bind-html="block.destext"></span>
																                                    </div>
																                                </li>
																                                <li>
																                                    <div class="md-list-content">
																                                        <span class="md-list-heading">Бүртгэсэн</span>
																                                        <span class="uk-text-small uk-text-muted">{{block.user_name}}</span>
																                                    </div>
																                                </li>
																                            </ul>
																	                    </div>
																	                   
																	                    <div class="uk-width-medium-1-2">
																	                    	<ul class="md-list">
																                                <li>
																                                    <div class="md-list-content">
																                                        <span class="md-list-heading">Шийдвэр</span>
																                                        <span class="sub-heading" ng-if="block.desicion==1">Зөвшөөрсөн</span>
																		                                <span class="sub-heading" ng-if="block.desicion==3">Татгалзсан</span>
																		                                <span class="sub-heading" ng-if="block.desicion==2">Засварт буцаасан</span>
																                                    </div>
																                                </li>
																                                <li>
																                                    <div class="md-list-content">
																                                        <span class="md-list-heading">Бүртгэсэн огноо</span>
																                                        <span class="uk-text-small uk-text-muted">{{block.date}}</span>
																                                    </div>
																                                </li>
																                            </ul>										                  
																	                    </div>
																                    </div>
																                </div>
																            </div>
												                        </div>
												                        <div class="" ng-if="note_form.comm.length==0">
											                        		   <div class="md-card">
																                <div class="md-card-content">																	                   
																                    <div class="uk-grid" data-uk-grid-margin>
																                        <div class="uk-width-1-1">																	                          
																                            <div class="uk-alert uk-alert-warning" data-uk-alert>
																                                <a href="#" class="uk-alert-close uk-close"></a>
																                                Хүлээгдэж байгаа
																                            </div>																	                            
																                        </div>
																                    </div>
																                </div>
																            </div>
												                        </div>													               
												                    </div>												                    												            
												                </div>											                   
									                    	</div>
										                    <div class="md-card-content" ng-show="stdes1">
									                    	    <div class="md-card-toolbar uk-margin-bottom" style="padding:0px;">										                          
										                            <h3 class="md-card-toolbar-heading-text large">
										                                <span class="uk-text-muted">Шалгаж гаргасан шийдвэр</span> 
										                            </h3>
										                        </div>												              
												                <div class="uk-grid" data-uk-grid-margin>
												                    <div class="uk-width-medium-1-2">
												                    	<div class="uk-form-row">
												                            <label>Тайлбар</label>
												                            <input type="text" class="md-input" ng-model="note_form.comment" id="submit_message" md-input />
												                        </div>												                      
												                    </div>
												                    <div class="uk-width-medium-1-2">
												                         <div class="uk-form-row" style="margin-top:8px;">	
												                         	<selectize type="text"  ng-model="note_form.desicion" class="md-input" placeholder="Сонгоно уу..." id="isactive"
											            						position="bottom" config="selectize_a_config" options="selectize_a_options" name="isactive"></selectize>
												                        <!--  <select kendo-drop-down-list
																	            k-data-text-field="'text'"
																	            k-data-value-field="'value'"
																	            k-data-source="selectize_a_data.options"
																	            ng-model="note_form.desicion"
																	            style="width: 100%"></select>		 -->									               
												                        </div>											                  
												                    </div>
												                </div>
												                <div class="uk-grid" data-uk-grid-margin>												                   
												                    <div class="uk-width-large-1-1 " style="text-align:right;">
												                        <div class="uk-input-group" style="display:block; text-align:right; padding:0px;">
												                            <button class="md-btn" ng-click="saveComment($event,noteForm.id)">Хадгалах</button>
												                        </div>
												                    </div>												                    
												                </div>
												            </div>
							                        </form>
							                    </div>
							                </div>
						            </div>						
						        </div>
                             </li>
                             <li>
                           	      <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
							                <div class="uk-width-large-3-10 hidden-print uk-visible-large">
							                    <div class="md-list-outside-wrapper" custom-scrollbar list-outside>
							                        <ul class="md-list md-list-outside notes_list">
							                            <li class="heading_list" ng-repeat-start="list in notes_data" ng-class="{ 'uk-text-danger': $index == 0}">Жагсаалт</li>
							                            
							                             <li ng-repeat-end ng-repeat="note in list.notes"  ng-if="note.inptype==3" ng-class="{
						                                        'md-bg-light-green-100':note.decision == '1',
						                                        'md-bg-light-blue-100':note.decision == '3',
						                                        'md-bg-deep-orange-100':note.decision == '2'
						                                        }"> 
						                                <a href="#" class="md-list-content note_link" ng-click="openNote($event,$parent.$index,$index,note)">
						                                    <span class="md-list-heading uk-text-truncate">{{note.title}}</span>
						                                    <span class="uk-text-small uk-text-muted">{{note.date}}</span>
						                                </a>
						                            </li>
							                        </ul>
							                    </div>
							                </div>
							                <div class="uk-width-large-7-10">
							                    <div class="md-card md-card-single" single-card>
							                         <div ng-if="!noteActive">
							                            <div class="md-card-toolbar">
							                                <h3 class="md-card-toolbar-heading-text">Тайлан төлөвлөгөө хянахад анхаарах зүйлс</h3>
							                            </div>
							                            <div class="md-card-content">
							                                <ul class="uk-text-large uk-margin-large-top uk-margin-large-bottom">	
							                                	<li>						                                	
							                                  		Зүүн хэсэгт байрлах жагсаалтаас сонгож ажлаа үргэлжлүүлнэ.
							                                   </li>
							                                  
							                                   <li>						                                	
							                                  		Ажлаа дараа нь үргэлжлүүлэх бол заавал хадгалах товчийг дарж хадгална. 
							                                   </li>
							                                   <li>						                                	
							                                  		Ажил тус бүрийг хянаж шийдвэр хэсэгт заавал үр дүн бичнэ.
							                                   </li>
							                                </ul>
							                            </div>
							                        </div>
							                        <form  ng-if="noteActive" class="uk-form-stacked" data-ng-submit="submitForm()">
							                            <div class="md-card-toolbar hidden-print">		                            	 
							                         
							                               <h3 class="md-card-toolbar-heading-text">{{note_form.title}}</h3>
							                             						                               
							                               <!--  <input name="note_title" id="note_title" class="md-card-toolbar-input" type="text" ng-model="note_form.title" placeholder="Add title" /> -->
							                            </div>
							                                 <div class="md-card-content" ng-if="note_form.images.length==0" style="min-height:278px;">
					                            	<div ng-if="note_form.content==null">								                        
							                            <div class="md-card-content">
							                                <p class="uk-text-center uk-text-large uk-margin-large-top">
							                                   Ямар нэгэн өгөгдөл илгээгээгүй байна.
							                                </p>
							                            </div>
							                        </div>
							                        <div ng-if="note_form.content!=null">								                        
							                            <div class="md-card-content">
							                                <p class="uk-text-center uk-text-large uk-margin-large-top" ng-bind-html="note_form.content"></p>				
							                            </div>
							                        </div>                         	
					                                <input type="hidden" name="note_id" ng-model="noteForm.id">
					                            </div>
				                                <div class="md-card-content" ng-if="note_form.images.length>0">					                            	
						                                <input type="hidden" name="note_id" id="noteid" ng-model="noteForm.id">
						                                <div class="uk-width-1-1">	
						                                <div class="gallery_grid uk-grid-width-medium-1-4 uk-grid-width-large-1-4" data-uk-grid="{gutter: 16}">
											                <div ng-repeat="image in note_form.images" on-last-repeat>
											                    <div class="md-card md-card-hover">
											                        <div class="gallery_grid_item md-card-content" ng-switch on="image.ext">
											                        	
											                            <a ng-switch-when="png" href="{{image.url}}" data-uk-lightbox="{group:'gallery'}">
											                                <img style="height:190px" ng-src="{{image.url}}" alt="">
											                            </a>
											                            <a ng-switch-when="jpg" href="{{image.url}}" data-uk-lightbox="{group:'gallery'}">
											                                <img style="height:190px" ng-src="{{image.url}}" alt="">
											                            </a>
											                            <a ng-switch-when="jpeg" href="{{image.url}}" data-uk-lightbox="{group:'gallery'}">
											                                <img style="height:190px" ng-src="{{image.url}}" alt="">
											                            </a>
											                              <a ng-switch-when="gif" href="{{image.url}}" data-uk-lightbox="{group:'gallery'}">
											                                <img style="height:190px" ng-src="{{image.url}}" alt="">
											                            </a>
											                            <a ng-switch-default target="_blank" href="{{image.url}}" style="text-align:center;">
											                              <i style="font-size:100px; padding:45px 0;" class="material-icons uk-text-primary">&#xE2C0;</i>
											                            </a>
											                            <div class="gallery_grid_image_caption">
											                                <div class="gallery_grid_image_menu" ng-show="{{xonoff}}" data-uk-dropdown="{pos:'top-right'}">
											                                    <i class="md-icon material-icons">&#xE5D4;</i>
											                                    <div class="uk-dropdown uk-dropdown-small">
											                                        <ul class="uk-nav">
											                                            <li><a ng-click="removeAttach(image)" href="javascript:void(0)"><i class="material-icons uk-margin-small-right">&#xE872;</i> Remove</a></li>
											                                        </ul>
											                                    </div>
											                                </div>												                          
											                                <span class="gallery_image_title uk-text-truncate">{{image.title}} </span>
											                                <span class="uk-text-muted uk-text-small">{{image.date}}, {{image.size}}</span>
											                            </div>
											                        </div>
											                    </div>
											                </div>
											            </div>
						                                </div>
						                            </div>
							                        </form>
							                    </div>
							                </div>
							            </div>
                             </li>    
                             <li>
                        	     <div class="uk-grid uk-grid-divider uk-margin-large-bottom">
						            <div class="uk-width-1-2">
						            	<div class="md-list-outside-wrapper ng-scope uk-height-1-2" custom-scrollbar list-outside>
							               <ul class="md-list md-list-outside notes_list">
					                            <li class="heading_list" ng-repeat-start="list in notes_data"  ng-class="{ 'uk-text-danger': $index == 0}">Жагсаалт</li>
					                            
					                            <li style="min-height:36px;" ng-if="note.isapproval==1" ng-repeat-end ng-repeat="note in list.notes" ng-class="{
					                                        'md-bg-light-green-100':note.decision == '1',
					                                        'md-bg-light-blue-100':note.decision == '3',
					                                        'md-bg-deep-orange-100':note.decision == '2'
					                                        }"> 
					                                <a href="#" class="md-list-content note_link" ng-click="openNote($event,$parent.$index,$index,note)">
					                                    <span class="md-list-heading uk-text-truncate" style="float:left;">{{note.title}}</span>
					                                    <span class="uk-badge" style="float:right;" ng-class="{
					                                        'uk-badge-success':note.decision == '1',
					                                        'uk-badge-info':note.decision == '0',
					                                        'uk-badge-warning':note.decision == '3',
					                                        'uk-badge-danger':note.decision == '2'
					                                        }">
					                                       <span ng-if="note.decision == 1">
					                                       		Зөвшөөрсөн
					                                       </span>
					                                       <span ng-if="note.decision == 3">
					                                       		Татгалзсан
					                                       </span>
					                                       <span ng-if="note.decision == 2">
					                                       		Засварт буцаасан
					                                       </span>
				                                           <span ng-if="note.decision == 0">
					                                       		Хянаагүй
					                                       </span>
					                                    </span>
					                                </a>				                                    
					                            </li>
					                        </ul>
						                </div>
						            </div>
					                <div ng-show="{{xonoff}}" class="uk-width-1-2">	
					                	 <form class="uk-form-stacked" data-ng-submit="submitMainDesicion()">				                	
						                	 <div style="margin-bottom:20px;" data-uk-grid-margin>
						                	 	  <table class="uk-table" style="margin-bottom:0px;">
								                    <thead>
								                        <tr class="uk-text-upper">
								                            <th>Мэдээлэл</th>							                          
								                        </tr>
								                    </thead>							                   
								                </table>
					                            <div class="md-card-content" style="border-bottom:2px solid rgba(0, 0, 0, 0.12);">
					                                <p class="uk-text-center uk-text-large uk-margin-large-bottom">
					                                   Та эцсийн шийдвэрийг гаргахаас өмнө дэлгэцийн зүүн талд харагдаж буй жагсаалтыг сайтар хянана уу. <!-- <strong class="md-color-red-600">+</strong> button to create a new note<br>
					                                    <span class="uk-text-muted">or</span><br>
					                                    open note from the list. -->
					                                </p>
					                            </div>
					                        </div>
						           		    <div class="uk-grid" data-uk-grid-margin>
							                    <div class="uk-width-medium-1-1">
						                            <div class="uk-form-row">
							                            <label>Шийдвэр</label>
							                            <textarea cols="30" rows="4" class="md-input" ng-model="des.comtext" md-input textarea-autosize></textarea>
							                        </div>
							                        <div class="uk-form-row uk-input-group">		
							                        	 	 <select kendo-drop-down-list
																	            k-data-text-field="'text'"
																	            k-data-value-field="'value'"
																	            k-data-source="selectize_a_data.options"
																	            ng-model="des.appstatus"
																	            style="width: 100%"></select>				                           
							                           
							                           <span class="uk-input-group-addon" style="padding-right:0px;"><button type="submit" class="md-btn md-btn-danger md-btn-wave-light waves-effect waves-button waves-light">Хадгалах</button></span>
							                        </div>
							                    </div>
							                </div>
						                </form> 
						            </div>
						        </div>                             
                             </li> 
                         </ul>
                     </div>
                 </div>
            </div>
        </div>

    </div>
</div>
<style>
	.selectize-control.single{
		margin-top:-8px;
	}
	.gallery_grid_item, .gallery_grid_item:focus, .gallery_grid_item:hover{
		height:250px !important;
	}
	.wizard > .content > .body{
		padding:0px;
	}
/* 	em{
		display:none;
	} */
	.k-upload-button{
		display:inherit;
	}
	.lala{
		min-height:282px;
	}
	.md-card .md-card-content {
	    padding: 16px;
	    height: auto !important;
	}
</style>
